.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}
* {
        box-sizing: border-box;
}
body {
        margin: 0; 
        background:hsl(0, 0%, 95%);
        color:hsl(0, 0%, 95%);
}
.wrapper {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin: 5rem 1rem;
        .item {
                padding: 2.5rem;
                background: #aaa;
                .item-info {
                        color: hsla(0, 0%, 100%, 0.75);
                }
                .item-link {
                        display:inline-block;
                        padding: 1rem 1.5rem;
                        background:hsl(0, 0%, 95%);
                        border-radius: 1.5rem;
                        text-decoration:none;
                }
        } 
        .item-top {
                background: hsl(31, 77%, 52%);
                border-radius: 1rem 1rem 0 0;
                .item-link {
                        color: hsl(31, 77%, 52%);
                }
        }
        .item-middle {
                background: hsl(184, 100%, 22%);
                .item-link {
                        color: hsl(184, 100%, 22%);
                }
        }
        .item-bottom {
                background: hsl(179, 100%, 13%);
                border-radius: 0 0 1rem 1rem;
                .item-link {
                        color: hsl(179, 100%, 13%);
                }
        }
}
